option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    DB_URI: mongodb+srv://luanvo100404_db_user:Maicodon1@healthcare.cbkysul.mongodb.net/healthcare?retryWrites=true&w=majority
    JWT_SECRET: healthcare-backend-super-secret-jwt-key-2024
    JWT_REFRESH_SECRET: healthcare-backend-refresh-secret-key-2024-different
    CORS_ORIGIN: "*"
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    RetentionInDays: 7
    DeleteOnTerminate: false
  aws:elasticbeanstalk:hostmanager:
    LogPublicationControl: true